<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Baloo+Bhai+2&family=Comic+Neue:wght@700&family=DotGothic16&family=Lobster+Two:ital@1&family=Poppins:wght@300&family=Roboto+Mono&family=Zen+Dots&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a85cd81b06.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./image/noteFav.svg" type="image/x-icon">
    <link rel="stylesheet" href="./css/homeStyle.css">
    <script src="./js/homejs.js" defer></script>
</head>

<body>

    <h3>TODO App</h3>
    <div class="main">
        <form action="/save" method="post">
            <textarea name="discription" id="textArea" cols="30" rows="3" placeholder="DISCRIPTION" required></textarea>
            <div class="flex">
                <div class="dv1">
                    Category
                    <select name="select" id="sel">
                        <option value="select">Select</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="study">Study</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="dv1">
                    Due Date

                    <input type="date" name="date" id="date" required>
                </div>
            </div>
            <!-- <input type="submit" value="ADD TASK"> -->
            <div class="flex">
                <button type="submit" value="ADD TASK" class="submitBtn"><i class="fa-solid fa-plus fa-sm"></i>Add task</button>
                <a id="edit" class="sm"><i class="fa-solid fa-pencil fa-xs"></i> Edit </a>
                <a id="del" class="sm"><i class="fa-regular fa-trash-can fa-xs"></i> Delete </a>
            </div>
        </form>
    </div>

    <div id="main2">
        <form method="post" id="form2">
            <textarea name="discription" id="textArea2" cols="30" rows="3" placeholder="DISCRIPTION"
                required></textarea>
            <div class="flex">
                <div class="dv1">
                    CATEGORY
                    <select name="select" id="sel">
                        <option value="select">Select</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="study">Study</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="dv1">
                    DUE DATE

                    <input type="date" name="date" id="date2" required>
                </div>
            </div>
            <div class="flex">
                <button type="submit" value="update" class="submitBtn">UPDATE</button>
            </div>
        </form>
    </div>

    <h4>Tasks</h4>
    <main>
        <% for(let i=0; i<dta.length; i++){ %>
            <div class="flexx">
                <input type="radio" name="radio" class="checkBox" value="<%=dta[i]._id %>">
                <div class="overflow">
                    <p class="para1">
                        <%=dta[i].discription%>
                    </p>
                    <p class="para2">

                        <%=mnth[new Date(dta[i].date).getMonth()] %>
                            <%=new Date(dta[i].date).getDate() %>, <%=new Date(dta[i].date).getFullYear() %>
                    </p>
                </div>
                <button class="catBtn">
                    <%=dta[i].select%>
                </button>
            </div>
            <%}%>
    </main>

</body>

</html>